@font-face {
    font-family: "Share Tech Mono";
    src: url('/ShareTechMono-regular.ttf') format("truetype");
}
body {
  background-color: #ffffff;
  color: #57464e;
  font-size: 25px;
  font-family: 'Share Tech Mono';
  padding: 3vw;
}
h1 {
  color:#F9423A;
}
.data input {
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  margin: 0 20px;
  padding: 5px 20px;

  color: #ebebeb;
  font-size: 36px;
  width: 200px;
  font-family: 'Share Tech Mono';
}
.data table {
  display: inline;
  font-size: 36px;
  margin: 25px 50px;
}

#container {
  width: 100%;
}

#sketch {
  float:left;
  border: solid 5px #F9423A;
  width: 500px;
  height: 500px;
}

#point-rocket-warning {
    margin:auto
}

p {
    margin: 0 .5em
}
